In [5]:
%run ./all_spend.ipynb
%run ./new_recurrent_income.ipynb

Rows generated successfully
Rows generated successfully
Rows generated successfully

,fecha_de_cargo,comercio,descripcion,categoria,monto,forma_de_pago,realizado_por,limite_de_pago,deuda_a_plazos_recurrente_o_normal,comentarios
0,2023-10-29,Liverpool,Celular Samsung A54,Electrónicos,185.185185,LikeU,Aylin,2023-12-01,Plazos,
1,2023-11-05,Liverpool,Celular Samsung A54,Electrónicos,185.185185,LikeU,Aylin,2023-12-01,Plazos,
2,2023-11-12,Liverpool,Celular Samsung A54,Electrónicos,185.185185,LikeU,Aylin,2023-12-01,Plazos,
3,2023-11-19,Liverpool,Celular Samsung A54,Electrónicos,185.185185,LikeU,Aylin,2023-12-31,Plazos,
4,2023-11-26,Liverpool,Celular Samsung A54,Electrónicos,185.185185,LikeU,Aylin,2023-12-31,Plazos,
...,...,...,...,...,...,...,...,...,...,...
70,2025-04-29,,Minisplit,Electrodomesticos,375.888889,Liverpool,Aylin,2025-06-17,Plazos,Aylin lo paga con mi tarjeta
71,2025-05-29,,Minisplit,Electrodomesticos,375.888889,Liverpool,Aylin,2025-07-18,Plazos,Aylin lo paga con mi tarjeta
72,2024-10-05,,,,133.000000,,,2024-10-05,Plazos,
73,2024-11-05,,,,133.000000,,,2024-11-05,Plazos,
74,2024-12-05,,,,133.000000,,,2024-12-05,Plazos,

Stored 'plazos_df' (DataFrame)
Rows generated successfully
Rows generated successfully
Rows generated successfully
Rows generated successfully
Rows generated successfully

,fecha_de_cargo,descripcion,categoria,monto,forma_de_pago,realizado_por,limite_de_pago,deuda_a_plazos_recurrente_o_normal,comentarios
0,2024-04-01,Gasolina,Gasolina,290,LikeU,David,2024-05-01,Recurrente,
1,2024-04-08,Gasolina,Gasolina,290,LikeU,David,2024-05-01,Recurrente,
2,2024-04-15,Gasolina,Gasolina,290,LikeU,David,2024-05-31,Recurrente,
3,2024-04-22,Gasolina,Gasolina,290,LikeU,David,2024-05-31,Recurrente,
4,2024-04-29,Gasolina,Gasolina,290,LikeU,David,2024-05-31,Recurrente,
...,...,...,...,...,...,...,...,...,...
227,2024-12-30,Afinacion polo plata,Reparaciones auto,2400,Efectivo,David,2024-12-30,Recurrente,
228,2025-06-30,Afinacion polo plata,Reparaciones auto,2400,Efectivo,David,2025-06-30,Recurrente,
229,2025-12-30,Afinacion polo plata,Reparaciones auto,2400,Efectivo,David,2025-12-30,Recurrente,
230,2026-06-30,Afinacion polo plata,Reparaciones auto,2400,Efectivo,David,2026-06-30,Recurrente,
231,2026-12-30,Afinacion polo plata,Reparaciones auto,2400,Efectivo,David,2026-12-30,Recurrente,

Stored 'recurrentes_df' (DataFrame)
Stored 'df' (DataFrame)

,freq,fecha_de_ingreso,ingreso_por_evento,cuenta_destino,descripcion,categoria,realizado_por,ingreso_recurrente_o_extraoridinario,comentarios
indice,,,,,,,,,
0,0,2024-03-28,500.00,Efectivo,Vita,Recompensas,David,Recurrente,Ventas
1,1,2024-04-04,500.00,Efectivo,Vita,Recompensas,David,Recurrente,Ventas
2,2,2024-04-11,500.00,Efectivo,Vita,Recompensas,David,Recurrente,Ventas
3,3,2024-04-18,500.00,Efectivo,Vita,Recompensas,David,Recurrente,Ventas
4,4,2024-04-25,500.00,Efectivo,Vita,Recompensas,David,Recurrente,Ventas
5,5,2024-05-02,500.00,Efectivo,Vita,Recompensas,David,Recurrente,Ventas
6,6,2024-05-09,500.00,Efectivo,Vita,Recompensas,David,Recurrente,Ventas
7,7,2024-05-16,500.00,Efectivo,Vita,Recompensas,David,Recurrente,Ventas
8,8,2024-05-23,500.00,Efectivo,Vita,Recompensas,David,Recurrente,Ventas
9,9,2024-05-30,500.00,Efectivo,Vita,Recompensas,David,Recurrente,Ventas
10,10,2024-06-06,500.00,Efectivo,Vita,Recompensas,David,Recurrente,Ventas
11,11,2024-06-13,500.00,Efectivo,Vita,Recompensas,David,Recurrente,Ventas
12,0,2024-03-14,22000.12,Banamex Mi Cuenta,Mi descripcion,Salario,David,Recurrente,Sueldo
13,1,2024-03-29,23000.00,Banamex Mi Cuenta,Mi descripcion,Salario,David,Recurrente,Sueldo
14,2,2024-04-14,23000.00,Banamex Mi Cuenta,Mi descripcion,Salario,David,Recurrente,Sueldo
15,3,2024-04-29,23000.00,Banamex Mi Cuenta,Mi descripcion,Salario,David,Recurrente,Sueldo
16,4,2024-05-14,23000.00,Banamex Mi Cuenta,Mi descripcion,Salario,David,Recurrente,Sueldo
17,5,2024-05-29,23000.00,Banamex Mi Cuenta,Mi descripcion,Salario,David,Recurrente,Sueldo
18,6,2024-06-14,23000.00,Banamex Mi Cuenta,Mi descripcion,Salario,David,Recurrente,Sueldo
19,7,2024-06-29,23000.00,Banamex Mi Cuenta,Mi descripcion,Salario,David,Recurrente,Sueldo
20,8,2024-07-14,23000.00,Banamex Mi Cuenta,Mi descripcion,Salario,David,Recurrente,Sueldo
21,9,2024-07-29,23000.00,Banamex Mi Cuenta,Mi descripcion,Salario,David,Recurrente,Sueldo
22,10,2024-08-14,23000.00,Banamex Mi Cuenta,Mi descripcion,Salario,David,Recurrente,Sueldo
23,11,2024-08-29,23000.00,Banamex Mi Cuenta,Mi descripcion,Salario,David,Recurrente,Sueldo
24,12,2024-09-14,23000.00,Banamex Mi Cuenta,Mi descripcion,Salario,David,Recurrente,Sueldo
25,13,2024-09-29,23000.00,Banamex Mi Cuenta,Mi descripcion,Salario,David,Recurrente,Sueldo
26,14,2024-10-14,23000.00,Banamex Mi Cuenta,Mi descripcion,Salario,David,Recurrente,Sueldo
27,15,2024-10-29,23000.00,Banamex Mi Cuenta,Mi descripcion,Salario,David,Recurrente,Sueldo
28,16,2024-11-14,23000.00,Banamex Mi Cuenta,Mi descripcion,Salario,David,Recurrente,Sueldo
29,17,2024-11-29,23000.00,Banamex Mi Cuenta,Mi descripcion,Salario,David,Recurrente,Sueldo
30,18,2024-12-14,23000.00,Banamex Mi Cuenta,Mi descripcion,Salario,David,Recurrente,Sueldo
31,19,2024-12-29,23000.00,Banamex Mi Cuenta,Mi descripcion,Salario,David,Recurrente,Sueldo
32,20,2025-01-14,23000.00,Banamex Mi Cuenta,Mi descripcion,Salario,David,Recurrente,Sueldo
33,21,2025-01-29,23000.00,Banamex Mi Cuenta,Mi descripcion,Salario,David,Recurrente,Sueldo
34,22,2025-02-14,23000.00,Banamex Mi Cuenta,Mi descripcion,Salario,David,Recurrente,Sueldo
35,23,2025-03-01,23000.00,Banamex Mi Cuenta,Mi descripcion,Salario,David,Recurrente,Sueldo

Stored 'recurrent_incomme_updated' (DataFrame)

In [6]:
from pyspark.sql import SparkSession

In [7]:
spark = SparkSession.builder.getOrCreate()

In [8]:
cargos = spark.read.load("all_spend.csv", delimiter = ",", inferSchema=True, header = True, format = "csv")

In [9]:
cargos.show(10)

+--------------+--------+-------------------+------------+-----------------+-------------+-------------+-------------+--------------+----------------------------------+
|fecha_de_cargo|comercio|        descripcion|   categoria|            monto|forma_de_pago|realizado_por|  comentarios|limite_de_pago|deuda_a_plazos_recurrente_o_normal|
+--------------+--------+-------------------+------------+-----------------+-------------+-------------+-------------+--------------+----------------------------------+
|    2024-09-30|  Costco|             Costco|    Despensa|          2585.35|       Costco|        David|Dia de madres|    2024-11-04|                            Normal|
|    2024-09-30|     Heb|       Heb despensa|    Despensa|           604.39|       Costco|         NULL|         NULL|    2024-11-04|                            Normal|
|    2023-10-29|    NULL|Celular Samsung A54|Electrónicos|185.1851851851852|        LikeU|        Aylin|         NULL|    2023-12-01|                            Plazos|
|    2023-11-05|    NULL|Celular Samsung A54|Electrónicos|185.1851851851852|        LikeU|        Aylin|         NULL|    2023-12-01|                            Plazos|
|    2023-11-12|    NULL|Celular Samsung A54|Electrónicos|185.1851851851852|        LikeU|        Aylin|         NULL|    2023-12-01|                            Plazos|
|    2023-11-19|    NULL|Celular Samsung A54|Electrónicos|185.1851851851852|        LikeU|        Aylin|         NULL|    2023-12-31|                            Plazos|
|    2023-11-26|    NULL|Celular Samsung A54|Electrónicos|185.1851851851852|        LikeU|        Aylin|         NULL|    2023-12-31|                            Plazos|
|    2023-12-03|    NULL|Celular Samsung A54|Electrónicos|185.1851851851852|        LikeU|        Aylin|         NULL|    2023-12-31|                            Plazos|
|    2023-12-10|    NULL|Celular Samsung A54|Electrónicos|185.1851851851852|        LikeU|        Aylin|         NULL|    2023-12-31|                            Plazos|
|    2023-12-17|    NULL|Celular Samsung A54|Electrónicos|185.1851851851852|        LikeU|        Aylin|         NULL|    2024-01-31|                            Plazos|
+--------------+--------+-------------------+------------+-----------------+-------------+-------------+-------------+--------------+----------------------------------+
only showing top 10 rows

In [10]:
cargos.createOrReplaceTempView("cargos")

In [11]:
ingresos = spark.read.load("ingresos_recurrentes_detalle.csv", delimiter = ",", inferSchema=True, header = True, format = "csv")

In [12]:
from pyspark.sql.functions import *

In [13]:
ingresos = ingresos.filter(col("categoria") == "Salario")

In [14]:
ingresos.createOrReplaceTempView("ingresos")

In [15]:
spark.sql("""
        select 
            i.fecha_de_ingreso AS lower_salary_date,
            i2.fecha_de_ingreso AS upper_salary_date,
            i.ingreso_por_evento
          FROM ingresos AS i
          LEFT JOIN ingresos AS i2
            ON i.indice = i2.indice - 1
        
          """).createOrReplaceTempView("wage_date_range")

In [16]:
spark.table("wage_date_range").show(30)

+-----------------+-----------------+------------------+
|lower_salary_date|upper_salary_date|ingreso_por_evento|
+-----------------+-----------------+------------------+
|       2024-03-14|       2024-03-29|          22000.12|
|       2024-03-29|       2024-04-14|           23000.0|
|       2024-04-14|       2024-04-29|           23000.0|
|       2024-04-29|       2024-05-14|           23000.0|
|       2024-05-14|       2024-05-29|           23000.0|
|       2024-05-29|       2024-06-14|           23000.0|
|       2024-06-14|       2024-06-29|           23000.0|
|       2024-06-29|       2024-07-14|           23000.0|
|       2024-07-14|       2024-07-29|           23000.0|
|       2024-07-29|       2024-08-14|           23000.0|
|       2024-08-14|       2024-08-29|           23000.0|
|       2024-08-29|       2024-09-14|           23000.0|
|       2024-09-14|       2024-09-29|           23000.0|
|       2024-09-29|       2024-10-14|           23000.0|
|       2024-10-14|       2024-10-29|           23000.0|
|       2024-10-29|       2024-11-14|           23000.0|
|       2024-11-14|       2024-11-29|           23000.0|
|       2024-11-29|       2024-12-14|           23000.0|
|       2024-12-14|       2024-12-29|           23000.0|
|       2024-12-29|       2025-01-14|           23000.0|
|       2025-01-14|       2025-01-29|           23000.0|
|       2025-01-29|       2025-02-14|           23000.0|
|       2025-02-14|       2025-03-01|           23000.0|
|       2025-03-01|             NULL|           23000.0|
+-----------------+-----------------+------------------+

In [17]:
spark.sql("""
        
        SELECT 
          * 
        FROM cargos AS c
        LEFT JOIN wage_date_range AS dates
          WHERE c.limite_de_pago >= dates.lower_salary_date
          AND c.limite_de_pago < dates.upper_salary_date
          
""").createOrReplaceTempView("gastos_ingresos")

In [18]:
spark.sql("""
        SELECT 
            realizado_por, forma_de_pago, limite_de_pago, lower_salary_date,
            SUM(MONTO) AS Monto_Total
        FROM gastos_ingresos
        GROUP BY
          realizado_por, forma_de_pago, limite_de_pago, lower_salary_date
          """).show(50)

+-------------+--------------+--------------+-----------------+-----------------+
|realizado_por| forma_de_pago|limite_de_pago|lower_salary_date|      Monto_Total|
+-------------+--------------+--------------+-----------------+-----------------+
|        David|      Efectivo|    2024-07-12|       2024-06-29|            120.0|
|        David|   Hey Credito|    2024-10-31|       2024-10-29|           1947.0|
|        Aylin|      Efectivo|    2025-01-30|       2025-01-29|           1500.0|
|        Aylin|         LikeU|    2024-10-31|       2024-10-29|2340.740740740741|
|        Aylin|     Liverpool|    2025-01-17|       2025-01-14|375.8888888888889|
|        David|      Efectivo|    2024-08-23|       2024-08-14|            120.0|
|        Aylin|      Efectivo|    2024-05-30|       2024-05-29|           1500.0|
|        David|      Efectivo|    2024-06-28|       2024-06-14|            120.0|
|        David|         LikeU|    2024-12-01|       2024-11-29|           1450.0|
|        Aylin|         LikeU|    2024-12-31|       2024-12-29|           1600.0|
|        David|Crédito Nomina|    2024-06-17|       2024-06-14|            500.0|
|        Aylin|      Efectivo|    2024-10-30|       2024-10-29|           1500.0|
|        Aylin|      Efectivo|    2024-04-30|       2024-04-29|           1500.0|
|        Aylin|      Efectivo|    2024-06-30|       2024-06-29|           1500.0|
|        Aylin|         LikeU|    2024-07-01|       2024-06-29|2740.740740740741|
|        David|      Efectivo|    2024-10-30|       2024-10-29|           2000.0|
|        David|      Efectivo|    2024-11-24|       2024-11-14|            150.0|
|        Aylin|         LikeU|    2024-12-01|       2024-11-29|2740.740740740741|
|        David|      Efectivo|    2025-01-24|       2025-01-14|            150.0|
|        David|      Efectivo|    2024-08-24|       2024-08-14|            150.0|
|        David|      Efectivo|    2024-12-24|       2024-12-14|            150.0|
|        David|      Efectivo|    2024-07-26|       2024-07-14|            120.0|
|        David|Crédito Nomina|    2024-09-17|       2024-09-14|            500.0|
|        Aylin|         LikeU|    2024-10-01|       2024-09-29|2340.740740740741|
|         NULL|          NULL|    2024-12-05|       2024-11-29|            133.0|
|        Aylin|         LikeU|    2024-05-31|       2024-05-29|2525.925925925926|
|        David|      Efectivo|    2024-04-30|       2024-04-29|           2000.0|
|        David|         LikeU|    2024-10-01|       2024-09-29|           1160.0|
|        David|Crédito Nomina|    2024-05-17|       2024-05-14|            500.0|
|        Aylin|     Liverpool|    2024-11-17|       2024-11-14|375.8888888888889|
|        Aylin|      Efectivo|    2024-12-30|       2024-12-29|           1500.0|
|        David|      Efectivo|    2024-10-24|       2024-10-14|            150.0|
|        David|   Hey Credito|    2024-07-01|       2024-06-29|           1947.0|
|        David|      Efectivo|    2024-05-17|       2024-05-14|            120.0|
|        David|      Efectivo|    2024-08-30|       2024-08-29|           2000.0|
|        David|      Efectivo|    2024-05-31|       2024-05-29|            120.0|
|        David|      Efectivo|    2024-07-24|       2024-07-14|            150.0|
|        David|         LikeU|    2024-10-31|       2024-10-29|           1160.0|
|        Aylin|      Efectivo|    2024-07-30|       2024-07-29|           1500.0|
|         NULL|        Costco|    2024-11-04|       2024-10-29|           604.39|
|        David|      Efectivo|    2024-04-24|       2024-04-14|            150.0|
|        David|         LikeU|    2024-07-01|       2024-06-29|           1450.0|
|        David|         LikeU|    2024-12-31|       2024-12-29|           1160.0|
|        Aylin|         LikeU|    2025-01-31|       2025-01-29|           1600.0|
|        David|   Hey Credito|    2024-08-31|       2024-08-29|           1947.0|
|        David|      Efectivo|    2024-06-24|       2024-06-14|            150.0|
|        Aylin|         LikeU|    2024-07-31|       2024-07-29|2340.740740740741|
|        David|      Efectivo|    2024-05-30|       2024-05-29|           2000.0|
|        David|      Efectivo|    2024-12-30|       2024-12-29|           4400.0|
|        David|      Efectivo|    2024-07-30|       2024-07-29|           2000.0|
+-------------+--------------+--------------+-----------------+-----------------+
only showing top 50 rows